{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h1 class="mb-4">Lista de Clientes</h1>
<a href="{% url 'registro_cliente' %}" class="btn btn-primary mb-3">Registrar Nuevo Cliente</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.correo }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay clientes registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
